body {
  background: url(../images/header-bg-2.png) repeat-x;
}

code.explicit {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

div.cta {
  border-style: solid;
  border-radius: 7px;
  background: goldenrod;
  padding: 5px;
  text-decoration: none;
  color: black;
  border-color: #aa7f27;
  width: 100%;
  padding: 4px 8px;
}

div.cta a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  color: black;
}

a.cta {
  border-style: solid;
  border-radius: 7px;
  background: goldenrod;
  padding: 5px;
  text-decoration: none;
  color: black;
  border-color: #aa7f27;
  width: 100%;
}

h1.homepg,
h2.homepg,
h3.homepg,
h4.homepg {
  line-height: 1;
  margin-bottom: 0em;
  padding: 0.5em;
}

p.homepg {
  margin: 0em;
  padding: 1em;
  font-size: medium;
}

p.opg {
  margin: 0em;
  padding: 0.5em;
  font-size: medium;
}

ul.opg {
  margin: 0em;
  padding: 0em 0.5em 0em 2.5em;
  font-size: medium;
}

ol.opg {
  margin: 0em;
  padding: 0em 0em 0em 2.5em;
  font-size: medium;
}

p.callout {
  margin: 0em 0em 0em 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  font-size: medium;
  border-left: 6px solid black;
  background-color: goldenrod;
}
a.logo {
  width: 255px;
  height: 52px;
  float: left;
  background: url(../custom_images/liquibase_logo-250.png) no-repeat;
  margin-top: 15px;
}

iframe.maven {
  width: 750px;
  height: 900px;
}

#mc_embed_signup .button:hover {
  background-color: #777;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

#search {
  width:450px;
  float:right;
  margin-top:20px
}

div#menu div {
  width: auto;
  float: left;
  margin-top: 35px;
  margin-bottom: 30px;
}
div#menu div li {
  width: auto;
  float: left;
  list-style: none;
  position: relative;
  padding: 0 0 0 19px;
  height: 35px;
}
div#menu div li.sep {
  width: auto;
  float: left;
  background: none;
  margin: 0 15px;
}
div#menu div li.sep:hover {
  background: none;
}
div#menu div li a {
  width: auto;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #444444;
  text-shadow: #fff 1px 1px 1px;
  text-transform: uppercase;
  height: 35px;
  padding: 0 19px 0 0;
  line-height: 32px;
}
div#menu div li:hover,
div#menu div li.active {
  width: auto;
  float: left;
  background: url(../images/menu-lft.png) no-repeat left 0;
}
div#menu div li:hover a,
div#menu div li.active a {
  background: url(../images/menu-rht.png) no-repeat right 0;
  color: #fff;
  text-shadow: none;
}
div#menu div li:hover span,
div#menu div li.active span {
  background: url(../images/menu-center.png) repeat-x left 0;
}
div#menu div li span {
  width: auto;
  height: 35px;
  float: left;
}
div#menu div li ul {
  width: 149px;
  float: left;
  margin: 0;
  position: absolute;
  left: 0px;
  top: 25px;
  display: none;
  z-index: 80000;
  padding: 0 0px;
  margin-top: -4px;
}
div#menu div li ul li {
  width: 149px;
  height: auto;
  float: left;
  margin: 0;
  z-index: 0;
  color: #333;
  padding: 0px;
  text-indent: 10px;
  background: url(../images/ul-center.png) repeat-y;
}

div#menu div li ul li.edge {
  background: none;
  border: none;
}
div#menu div li ul li.edge:hover {
  background: none;
}
div#menu div li ul li:hover {
  background: none;
}
div#menu div li ul li img {
  width: auto;
  float: left;
  background: none;
  border: none;
}
div#menu div li ul li a {
  width: 129px;
  height: auto;
  float: left;
  padding: 0px;
  color: #717171;
  font-size: 12px;
  margin-top: 0px;
  padding: 3px 5px;
  line-height: 32px;
  text-shadow: none;
  text-indent: 10px;
  text-transform: none;
  margin: 0 5px 0 5px;
  border-top: #74a2cf dotted 1px;
}
div#menu div li ul li a.nobd {
  border: none;
}
div#menu div li:hover ul li a {
  background: url(../images/ul-center.png) repeat-y;
  color: #fff;
}
div#menu div li ul li a:hover {
  background: #7daedf;
  color: #fff;
}
div#menu div li ul li:first-child {
  border: 0;
}
div#menu div li ul li:first-child a {
  border: 0;
}
div#menu div li ul li ul {
  left: 149px;
  top: -2px;
} /*Level 1*/
div#menu div li ul li:hover {
  background: url(../images/ul-center.png) repeat-y;
}

ul#leftnav {
  padding-bottom: 10px;
  list-style: none;
  float: left;
  font-size: 1.1em;
  width: 200px;
}
ul#leftnav li {
  margin: 0;
  padding: 0;
  overflow: hidden; /*--Important - Masking out the hover state by default--*/
  float: left;
  height: 30px;
  width: 200px;
  border-top: #a3a095 solid 1px;
}
ul#leftnav li:first-child {
  border: 0;
}
ul#leftnav a,
ul#leftnav span {
  /*--The <a> and <span> share the same properties since the <span>  will be a duplicate of the <a> tag--*/
  padding: 7px 10px;
  float: left;
  text-decoration: none;
  color: #fff;
  /*background: url(../images/a_bg.png) repeat-x;*/
  text-transform: uppercase;
  clear: both;
  width: 100%;
  height: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
  line-height: 16px; /*--Vertical alignment of text--*/
}
ul#leftnav a {
  /*--This is basically the hover state of navigation--*/
  background-position: left top;
}
ul#leftnav span {
  /*--Default state of navigation--*/
  color: #747373;
  background: none;
}

.input-prompt {
  position: absolute;
  font-style: italic;
  color: #aaa;
  margin: 0.2em 0 0 0.5em;
}

td {
  vertical-align: top;
}

.comparison-table td:nth-of-type(2),
td:nth-of-type(3) {
  font-weight: bold;
}

.pagination {
  overflow: hidden;
  margin: 0 -1.5rem 1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

.pagination-item {
  display: block;
  padding: 1rem;
  border: solid #eee;
  border-width: 1px 0;
}

.pagination-item :first-child {
  margin-bottom: -1px;
}

a.pagination-item:hover {
  background-color: #f5f5f5;
}

.pagination {
  margin: 3rem 0;
}

.pagination-item {
  float: left;
  width: 40%;
  border-width: 1px;
}

.pagination-item :first-child {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination-item :last-child {
  margin-left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
