@import "util/_elevation";

.landing-page {
  &__horizontal-rule {
    height: 2px;
    width: 25%;
    background: goldenrod;
    margin-bottom: 24px;

    &--centered {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-content {
    margin-top: 24px;
    margin-bottom: 48px;

    &__heading {
      margin-bottom: 36px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 36px;
    }

    &__cta {
      display: inline-block;
    }
  }

  &__cta-block {
    @include dat-elevation(2);
    background: whitesmoke;
    padding: 24px;
    border-radius: 6px;
    text-align: center;
    margin-top: 24px;

    &__heading {
      margin-bottom: 24px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}