@import "util/vendor/_elevation";

.lb-choose-path {
  width: 100%;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 72px;

  &__heading {
    margin-bottom: 48px;
  }

  &__paths {
    display: flex;
  }

  &__path {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    flex: 1;
    @include dat-elevation(3);
    border-radius: 8px;
    padding: 24px 16px;
    transition: all .3s cubic-bezier(.77, 0, .175, 1);

    &:hover {
      @include dat-elevation(6);
      transform: translateY(-1px);
    }

    &--community {
      margin-right: 24px;
    }

    &--pro {
      .lb-choose-path__path__button {
        .cta {
          background: #416692;
          color: white;
          border-color: mix(#416692, #fff, 33%);
        }
      }
    }

    &__title {
      margin-bottom: 24px;

      h1, h2, h3, h4, h5 h6 {
        margin-bottom: 0;
      }
    }

    &__text {
      margin-bottom: 16px;
      font-size: 14px;

      p {
        margin: 0;
      }
    }

    &__spacer {
      flex-grow: 1;
    }

    &__button {
      display: inline-flex;
     
      .cta {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        text-align: center;
        @include dat-elevation(2);
        transition: box-shadow .3s cubic-bezier(.77, 0, .175, 1);
      
        &:hover {
          @include dat-elevation(4);
        }
      }
    }
  }
}
