@import "util/_elevation";

h3.value-prop-header {
  text-align: center;
  margin-bottom: calc(1em + 12px);
  font-size: 20px;
}

.value-prop {
  border-radius: 8px;
  margin-bottom: 36px;
  padding: 24px 16px;
  text-align: center;
  @include dat-elevation(2);

  h2 {
    margin-bottom: 24px;
    font-size: 22px;
  }

  p {
    margin: auto;
  }

  &:nth-of-type(odd) {
    background-color: mix(lightgray, #fff, 13%);
  }

  &:nth-of-type(even) {
    background-color: lightgray;
  }

  p {
    font-size: 14px;
    max-width: 550px;
  }
}
