<div id="news" style="padding-right: 10px; float: left">
  <fieldset style="color: #747373;">
    <legend>News</legend>

    <!-- show two most recent posts, plus mailing list form and twitter link -->
    <ul style="list-style-type: none; margin: 0; padding-left: 0; padding-bottom: 15px;">
      <li >
        <a href="{{site.posts[0].url}}"
          style="color: #747373; font-size: 12px; font-weight: bold; text-decoration: none">{{ site.posts[0].title }}</a><br>
        <a href="{{site.posts[0].url}}"
          style="font-size: 12px;">{{ site.posts[0].date | date_to_string }}</a>
      </li>

      <li>
        <a href="{{site.posts[1].url}}"
          style="color: #747373; font-size: 12px; font-weight: bold; text-decoration: none">{{ site.posts[1].title }}</a><br>
        <a href="{{site.posts[1].url}}"
          style="font-size: 12px;">{{ site.posts[1].date | date_to_string }}</a>
      </li>
    </ul>
    <a href="/blog" style="font-size: 14px; margin-top: 5px;">All Previous Posts >></a>
    
    <hr>
    <h3 style="font-size: 1.25em; color: #747373">Subscribe for email updates</h3>

    {% include components/forms/marketo-form.html %}

    <h3 style="margin-top: 0; margin-bottom: 10px; color: #747373">- and/or -</h3>

    <div>
      <a href="https://twitter.com/liquibase" class="twitter-follow-button"
        data-show-count="false">@liquibase</a>
    </div>

  </fieldset>
</div>
