<div id="menu" class="span-24">
    <div class="span-3" style="margin-top: 20px">
        <li><a href="https://download.liquibase.org"><span>Download</span></a></li>
    </div>
    <div class="span-3" style="margin-top: 20px">
        <li><a href="https://support.liquibase.org"><span>Support</span></a></li>
    </div>
    <div class="span-3" style="margin-top: 20px">
        <li><a href="{{site.baseurl}}{% link quickstart.html %}"><span>Getting Started</span></a></li>
    </div>
    <div class="span-3" style="margin-top: 20px">
        <li><a href="{{site.baseurl}}{% link documentation/index.md %}"><span>Documentation</span></a></li>
    </div>
    <div class="span-3" style="margin-top: 20px">
        <li><a href="{{site.baseurl}}{% link community/index.md %}"><span>Community</span></a></li>
    </div>
    <div class="span-3" style="margin-top: 20px">
        <li><a href="{{site.baseurl}}{% link extensions/index.html %}"><span>Extensions</span></a></li>
    </div>
    <div class="span-3 last" style="margin-top: 20px">
        <li><a href="https://www.datical.com/liquibase/" target="_blank"
               onClick="trackOutboundLink(this, 'Datical', 'Liquibase RFI'); return false"><span>
            <font color="DarkOrange"><strong>Datical</strong></font>
          </span></a></li>
    </div>
</div>
