<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% assign dirSize = {{page.url | split:'/' | size}} %}
{% if dirSize == 2 %}
    {% assign pageRoot = "." %}
{% else %}
    {% assign dirs = {{page.url | split:'/' }} %}
    {% for dir in dirs offset:2%}
        {% if forloop.last %}
            {% capture pageRoot %}{{pageRoot}}..{%endcapture %}
        {% else %}
            {% capture pageRoot %}{{pageRoot}}../{%endcapture %}
        {% endif %}
    {% endfor %}
{% endif %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Liquibase | Database Refactoring | {{ page.title }}</title>
        <meta name="description" content="{{ page.title }}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{pageRoot}}/css/vendor/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" href="{{pageRoot}}/css/normalize.css">
        <link rel="stylesheet" href="{{pageRoot}}/css/main.css">

        <link rel="stylesheet" href="{{pageRoot}}/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{pageRoot}}/css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="{{pageRoot}}/css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->

        <link rel="stylesheet" href="{{pageRoot}}/css/liquibase.css">
        <link rel="stylesheet" href="{{pageRoot}}/css/syntax.css">

        <script src="{{pageRoot}}/js/vendor/modernizr-2.6.2.min.js"></script>

        <script src="{{pageRoot}}/js/vendor/jquery-1.9.1.min.js"></script>
        <script src="{{pageRoot}}/js/vendor/jquery-ui.min.js"></script>
        <script src="{{pageRoot}}/js/plugins.js"></script>
        <script src="{{pageRoot}}/js/main.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="span-24">
                <a href="{{ pageRoot }}/index.html" class="logo"></a>

                <div id="search">
                    <script>
                        (function() {
                            var cx = '003757264142562231070:jzcpdy3d77s';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                    '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:searchbox-only></gcse:searchbox-only>
                </div>
            </div>

            <div id="menu" class="span-24">
                <div class="span-4">
                    <li><a href="{{ pageRoot }}/download/index.html"><span>Download</span></a></li>
                </div>
                <div class="span-3">
                    <li><a href="{{ pageRoot }}/quickstart.html"><span>Quick Start</span></a></li>
                </div>
                <div class="span-3">
                    <li><a href="{{ pageRoot }}/documentation/index.html"><span>Documentation</span></a></li>
                </div>
                <div class="span-3">
                    <li><a href="{{ pageRoot }}/community/index.html"><span>Community</span></a></li>
                </div>
                <div class="span-3">
                    <li><a href="{{ pageRoot }}/extensions/index.html"><span>Extensions</span></a></li>
                </div>
                <div class="span-3">
                    <li><a href="http:///blog.liquibase.org"><span>Blog</span></a></li>
                </div>
                <div class="span-3 last">
                    <li><a href="http://liquibase.com"><span>Support&nbsp;and&nbsp;Training</span></a></li>
                </div>
            </div>

            <div class="span-6 border">
                <ul id="leftnav">

                    {% if page.subnav %}
                        {% assign navPage = page.subnav %}
                    {% else %}
                        {% assign navPage = "subnav" %}
                        {% for dir in dirs offset:1%}
                            {% if forloop.last %}
                            {% else %}
                                {% capture navPage %}{{navPage}}_{{dir}}{%endcapture %}
                            {% endif %}
                        {% endfor %}
                        {% capture navPage %}{{navPage}}.md{%endcapture %}
                        {% if navPage == "subnav.md" %}
                            {% assign navPage = "subnav_main.md" %}
                        {% endif %}
                    {% endif %}

                    {% case navPage %}
                    {% when "subnav_main.md" %}
                        {% include subnav_main.md %}
                    {% when "subnav_documentation.md" %}
                        {% include subnav_documentation.md %}
                    {% when "subnav_documentation_changes.md" %}
                        {% include subnav_documentation_changes.md %}
                    {% when "subnav_development.md" %}
                        {% include subnav_development.md %}
                    {% else %}
                        Unknown Nav {{navPage}}
                    {% endcase %}
                </ul>

                <!-- Begin MailChimp Signup Form -->
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup" style="padding-right: 10px; float: left">
                            <form action="http://liquibase.us2.list-manage1.com/subscribe/post?u=c24cd4e0098d3017cc468c324&amp;id=3362c9cd2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate onsubmit="trackOutboundLink(this, 'Mailing List', 'liquibase.us2.list-manage1.com'); return false;">
                                <fieldset style="color: #747373;">
                                    <legend>Announcements</legend>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" title="Email Address" size="30">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </fieldset>
                            </form>
                        </div>

                        <!--End mc_embed_signup-->

                {% if (page.url != "/index.html" && page.url != "/") %}
                <a class="kickstarter" href="http://www.kickstarter.com/projects/149257506/liquibench" style="border:none;" onClick="trackOutboundLink(this, 'Kickstarter', 'kickstarter.com'); return false;"><img src="{{pageRoot}}/custom_images/kickstarter225.png" onmouseover="this.src='{{pageRoot}}/custom_images/kickstarter225-hover.png'" onmouseout="this.src='{{pageRoot}}/custom_images/kickstarter225.png'"></a>
                {% endif %}
            </div>
            <div class="span-18 last">
                <div style="margin-left: 20px; padding-bottom: 100px">
                    {{content}}
                </div>
            </div>
        </div>

        <div style="width: 100%; text-align: right; padding-bottom: 20px">
            <hr>
            <span style="margin-right: 20px; font-weight: bold">Missing, incomplete or wrong information? <a href="https://github.com/liquibase/liquibase.github.com">Please send a pull request</a></span>
        </div>

        <script>
            $(document).ready(function(){
                $('input[type=text][title],input[type=password][title],textarea[title]').each(function(i){
                    $(this).addClass('input-prompt-' + i);
                    var promptSpan = $('<span class="input-prompt"/>');
                    $(promptSpan).attr('id', 'input-prompt-' + i);
                    $(promptSpan).append($(this).attr('title'));
                    $(promptSpan).click(function(){
                        $(this).hide();
                        $('.' + $(this).attr('id')).focus();
                    });
                    if($(this).val() != ''){
                        $(promptSpan).hide();
                    }
                    $(this).before(promptSpan);
                    $(this).focus(function(){
                        $('#input-prompt-' + i).hide();
                    });
                    $(this).blur(function(){
                        if($(this).val() == ''){
                            $('#input-prompt-' + i).show();
                        }
                    });
                });
            });
        </script>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1719178-1']);
            _gaq.push(['_setDomainName', 'liquibase.org']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

                function trackOutboundLink(link, category, action) {

                    try {
                        _gaq.push(['_trackEvent', category , action]);
                    } catch(err){}

                    setTimeout(function() {
                        document.location.href = link.href;
                    }, 100);
                }

        </script>
    </body>
</html>
