---
layout: base
---

{% include components/announcement.html %}

<div class="container">
  <div class="span-24">
    <a href="{{ pageRoot }}/index.html" class="logo"></a>

    {% include components/search/gcse-search.html %}
  </div>

  {% include components/top-nav.html %}

  <div class="span-24 last">
    <div style="margin-left: 20px; padding-bottom: 100px">

      {% if page.date %}
      <div style="margin-bottom: 30px">
        <h2 style="color: #747373; text-decoration: none; text-transform: uppercase; margin-bottom: 0">{{page.title}}
        </h2>
        <p style="color: #747373; text-transform: uppercase; font-size: 16px">POSTED {{page.date | date_to_string}} by
          Nathan Voxland</p>
      </div>
      {% endif %}

      {{content}}
    </div>
  </div>
</div>
