---
layout: base
title: Liquibase News
subnav: subnav_blog.md
---

<div
  style="width: 100%; line-height: 24px; padding: 10px; vertical-align: top; display: block; background-color: #416692; text-align: center; color: #ffffff; font-size: 16px; font-weight: bold; margin: 0 auto;">
  <a style="color: #ffffff; text-decoration: none;" href="https://download.liquibase.org">Liquibase® version 3.8.1 is now available! Get it for free.</a></div>

<div class="container">
  <div class="span-24">
    <a href="{{ pageRoot }}/index.html" class="logo"></a>

    <div class="cta-container" style="float: right; margin-top: 24px; margin-right: 100px;">
      {% include components/buttons/cta.html ctaText="Visit the Expert Exchange" ctaHref="https://download.liquibase.org/expert-exchange" %}
    </div>
  </div>

  {% include components/top-nav.html %}

  <div class="span-6 border">
    <ul id="leftnav">

      {% assign subnavPrefix = "subnav" %}
      {% assign returnFileName = subnavPrefix %}
      {% assign subRoutes = page.path | split:'/' %}
      <!-- If we're on a nested route, build the subnav filename. -->
      {% if subRoutes.size > 1 %}
        {% for route in subRoutes %}
          {% if forloop.last %}
            <!-- Do Nothing. -->
          {% else %}
            {% capture returnFileName %}{{returnFileName}}_{{route}}{% endcapture %}
          {% endif %}
        {% endfor %}
        {% capture returnFileName %}{{returnFileName}}.md{% endcapture %}
      {% else %}
        {% capture returnFileName %}{{returnFileName}}_main.md{% endcapture %}
      {% endif %}

      {% if page.subnav %}
        {% assign navPage = page.subnav %}
      {% else %}
        {% assign navPage = returnFileName %}
      {% endif %}

      {% case navPage %}
        {% when "subnav_main.md" %}
          {% include subnav_main.md %}
        {% when "subnav_documentation.md" %}
          {% include subnav_documentation.md %}
        {% when "subnav_documentation_changes.md" %}
          {% include subnav_documentation_changes.md %}
        {% when "subnav_documentation_sdk.md" %}
          {% include subnav_documentation_sdk.md %}
        {% when "subnav_development.md" %}
          {% include subnav_development.md %}
        {% when "subnav_community.md" %}
          {% include subnav_community.md %}
        {% when "subnav_blog.md" %}
          {% include subnav_blog.md %}
        {% when "subnav_quickstart.md" %}
          {% include subnav_quickstart.md %}
        {% else %}
          Unknown Nav {{navPage}}
      {% endcase %}
    </ul>

    {% include components/search/gcse-search.html isSideNav="true" %}

    {% include components/news-block.html %}

    {% if page.includeDaticalBox %}
    <!--div id="Datical widget" style="padding-right: 10px; float: left; width: 220px">
                  <fieldset style="color: #747373;">
                      <legend>Datical DB</legend>
                      <strong>Liquibase for the Enterprise</strong><br/>

                      <a href="https://www.datical.com/liquibase/" target="_blank" onClick="trackOutboundLink(this, 'Datical', 'Liquibase RFI'); return false">Learn more >></a>
                  </fieldset>
      </div-->
    <div id="Datical" style="padding-right: 10px; float: left; padding-bottom: 15px">
      <a href="http://www.datical.com/whitepapers/how-to-get-started-with-database-release-automation-4-steps/?utm_source=liquibase&utm_medium=side-page-ad"
        target="_blank" onClick="trackOutboundLink(this, 'Datical', '4 Steps Ad'); return false"><img
          src="/images/ad-easy-steps.png"
          alt="Achieving Continuous Delivery at Fidelity Investments with IBM UrbanCode and Datical" width="223"
          height="207"></a>
    </div>

    {% endif %}

  </div>
  <div class="span-18 last">
    <div style="margin-left: 20px; padding-bottom: 100px">

      {% if page.date %}
      <div style="margin-bottom: 30px">
        <h2 style="color: #747373; text-decoration: none; text-transform: uppercase; margin-bottom: 0">{{page.title}}
        </h2>
        <p style="color: #747373; text-transform: uppercase; font-size: 16px">POSTED {{page.date | date_to_string}} by
          Nathan Voxland</p>
      </div>
      {% endif %}

      {{content}}
    </div>
  </div>
</div>
